# Created by .ignore support plugin (hsz.mobi)
/node_modules/
.idea/
test/
dist/
.travis.yml
.gitignore
*.ts
*.js.map
!*.d.ts
typings.json
webpack.config.js
webpack.production.config.js
bower.json
tsconfig.json
